{% extends 'base.html.twig' %}

{% block title %} Welcome !{% endblock %}
{% block body %}
<!-- Notice the id="app", this is for Vue to know where to watch -->
<div class="example-wrapper" id="app">
    <app></app>
</div>
{% endblock %}